body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  background-color:rgb(235, 236, 237);
  width: 250px;
  padding: 20px;
}
.container h1{
  margin-bottom: 20px;
}
input{
  font-size: large;
  padding: 7px 20px;
  margin-bottom: 20px;
}
button{
  font-size: large;
  padding: 10px 20px;
  background-color:rgb(27, 172, 230);
  border-radius: 8px;
  margin-top: 20px;
}